<form autocomplete="off" system-theme="dark" style="padding: 8px;">
    {{> "newedo.feature-title"}}
    <div class="flexcol">
        <!-- Core traits -->
        <div class="form-group traits-core flexrow">
            <div>
                <label for="">{{localize "NEWEDO.trait.core.pow"}}</label>
                <input name="pow" type="number" placeholder="0" value="{{data.pow}}">
            </div>
            <div>
                <label for="">{{localize "NEWEDO.trait.core.ref"}}</label>
                <input name="ref" type="number" placeholder="0" value="{{data.ref}}">
            </div>
            <div>
                <label for="">{{localize "NEWEDO.trait.core.hrt"}}</label>
                <input name="hrt" type="number" placeholder="0" value="{{data.hrt}}">
            </div>
            <div>
                <label for="">{{localize "NEWEDO.trait.core.sav"}}</label>
                <input name="sav" type="number" placeholder="0"value="{{data.sav}}">
            </div>
            <div>
                <label for="">{{localize "NEWEDO.trait.core.per"}}</label>
                <input name="per" type="number" placeholder="0"value="{{data.per}}">
            </div>
            <div>
                <label for="">{{localize "NEWEDO.trait.core.pre"}}</label>
                <input name="pre" type="number" placeholder="0" value="{{data.pre}}">
            </div>
        </div>
        <!-- Derived traits -->
        <div class="form-group traits-derived flexrow">
            <div>
                <label for="">{{localize "NEWEDO.trait.derived.def"}}</label>
                <input name="def" type="number" placeholder="0"value="{{data.def}}">
            </div>
            <div>
                <label for="">{{localize "NEWEDO.trait.derived.res"}}</label>
                <input name="res" type="number" placeholder="0"value="{{data.res}}">
            </div>
            <div>
                <label for="">{{localize "NEWEDO.trait.derived.move"}}</label>
                <input name="move" type="number" placeholder="0"value="{{data.move}}">
            </div>
            <div>
                <label for="">{{localize "NEWEDO.trait.derived.init"}}</label>
                <input name="init" type="number" placeholder="0"value="{{data.init}}">
            </div>
            <div>
                <label for="">{{localize "NEWEDO.trait.derived.hp"}}</label>
                <input name="hp" type="number" placeholder="0"value="{{data.hp}}">
            </div>
        </div>
        <!-- Background levels -->
        <div class="form-group traits-derived flexrow">
            <div>
                <label for="contacts">{{localize "NEWEDO.background.contacts"}}</label>
                <input name="contacts" type="number" placeholder="0" value="{{data.contacts}}">
            </div>

            <div>
                <label for="followes">{{localize "NEWEDO.background.followers"}}</label>
                <input name="followers" type="number" placeholder="0" value="{{data.followers}}">
            </div>

            <div>
                <label for="soul">{{localize "NEWEDO.background.soul"}}</label>
                <input name="soul" type="number" placeholder="0" value="{{data.soul}}">
            </div>

            <div>
                <label for="status">{{localize "NEWEDO.background.status"}}</label>
                <input name="status" type="number" placeholder="0" value="{{data.status}}">
            </div>

            <div>
                <label for="wealth">{{localize "NEWEDO.background.wealth"}}</label>
                <input name="wealth" type="number" placeholder="0" value="{{data.wealth}}">
            </div>
        </div>
    </div>
</form>