<div class="tab-content">

    {{#with system.biography as | bio key |}}
    <div class="details">
        <div>
            <div><b>Gender:</b><input type="text" name="system.biography.gender" value="{{bio.gender}}" /></div>
            <div><b>Height:</b><input type="text" name="system.biography.height" value="{{bio.height}}" /></div>
            <div><b>Age:</b><input type="text" name="system.biography.age" value="{{bio.age}}" /></div>
        </div>

        <div>
            <div><b>Weight:</b><input type="text" name="system.biography.weight" value="{{bio.weight}}" /></div>
            <div><b>Eyes:</b><input type="text" name="system.biography.eyes" value="{{bio.eyes}}" /></div>
        </div>

        <div>
            <div><b>Skin:</b><input type="text" name="system.biography.skin" value="{{bio.skin}}" /></div>
            <div><b>Hair:</b><input type="text" name="system.biography.hair" value="{{bio.hair}}" /></div>
        </div>
    </div>


    <div class="flexrow descriptions" style="flex: 2;">
        <div>
            <div class="container">

                <b class="label">{{localize 'NEWEDO.biography.appearance'}}</b>
                <textarea name="system.biography.appearance">{{bio.appearance}}</textarea>

            </div>
            <div class="container">

                <b class="label">{{localize 'NEWEDO.biography.personality'}}</b>
                <textarea name="system.biography.personality">{{bio.personality}}</textarea>

            </div>
            <div class="container">

                <b class="label">{{localize 'NEWEDO.biography.background'}}</b>
                <textarea name="system.biography.background">{{bio.background}}</textarea>

            </div>
        </div>
        <div>
            <div class="container">
                <b class="label">{{localize 'NEWEDO.biography.ambition'}}</b>
                <textarea name="system.biography.ambition">{{bio.ambition}}</textarea>
            </div>
            <div class="container">
                <b class="label">{{localize 'NEWEDO.biography.ideal'}}</b>
                <textarea name="system.biography.ideal">{{bio.ideal}}</textarea>
            </div>
            <div class="container">
                <b class="label">{{localize 'NEWEDO.biography.fear'}}</b>
                <textarea name="system.biography.fear">{{bio.fear}}</textarea>
            </div>
        </div>
    </div>

    {{/with}}

</div>