<div class="tab-content">
    <ol class="items-list">
        {{!-- Weapon List --}}
        <li class="items-header flexrow collapsible">
            <span>Weapons</span>
            <span>Skill</span>
            <span>Controls</span>
        </li>
        {{#each itemTypes.weapon as | item key |}}
            <li class="item flexrow" style="text-align: center;" data-item-uuid="{{item.uuid}}">
                <span style="display: flex; flex-direction: row; align-items: center; justify-content: flex-start;">
                    <img src="{{item.img}}" width="30" height="30">
                    <a style="margin-left: 4px;" data-action="editItem">{{item.name}}</a>
                </span>
                <span style="text-align: left;">
                    {{localize item.system.skill.label}}
                </span>
                <span class="item-controls">
                    <a data-action="useItem" data-use="attack">
                        {{#if item.isRanged}}<i class="fa-solid fa-gun"></i>{{/if}}
                        {{#if (not item.isRanged)}}<i class="fa-solid fa-sword"></i>{{/if}}
                    </a>
                    <a data-action="useItem" data-use="damage">
                        {{#if item.isRanged}}<i class="fa-solid fa-crosshairs"></i>{{/if}}
                        {{#if (not item.isRanged)}}<i class="fa-solid fa-droplet"></i>{{/if}}
                    </a>
                    <a data-action="useItem" data-use="equip">
                        {{#if item.isEquipped}}<i class="fa-solid fa-hand-rock"></i>{{/if}}
                        {{#if (not item.isEquipped)}}<i class="fa-solid fa-hand"></i>{{/if}}
                    </a>
                    {{#if ../isEditMode}}<a data-action="deleteItem"><i class="fa-solid fa-trash"></i></a>{{/if}}
                </span>
            </li>
        {{/each}}
        {{!-- Armour lists --}}
        <li class="items-header flexrow collapsible">
            <span>Armour</span>
            <span>Soaks</span>
            <span>Controls</span>
        </li>
        {{#each itemTypes.armour as | item key |}}
            <li class="item flexrow" style="text-align: center;" data-item-uuid="{{item.uuid}}">
                <span style="display: flex; flex-direction: row; align-items: center; justify-content: flex-start;">
                    <img src="{{item.img}}" width="30" height="30">
                    <a style="margin-left: 4px;" data-action="editItem">{{item.name}}</a>
                </span>
                <span style="text-align: left;">
                    
                </span>
                <span class="item-controls">
                    <a data-action="useItem" data-use="equip">
                        {{#if item.isEquipped}}<i class="fa-solid fa-hand-rock"></i>{{/if}}
                        {{#if (not item.isEquipped)}}<i class="fa-solid fa-hand"></i>{{/if}}
                    </a>
                    {{#if ../isEditMode}}<a data-action="deleteItem"><i class="fa-solid fa-trash"></i></a>{{/if}}
                </span>
            </li>
        {{/each}}
    </ol>
</div>