<div class="tab-content">
    <ol class="items-list">
        {{!-- Weapon List --}}
        <li class="items-header flexrow collapsible">
            <span>Weapons</span>
            <span>Skill</span>
            <span>Controls</span>
        </li>
        {{#each itemTypes.weapon as | item key |}}
            <li class="item flexrow" style="text-align: center;" data-item-uuid="{{item.uuid}}">
                <span style="display: flex; flex-direction: row; align-items: center; justify-content: flex-start;">
                    <img src="{{item.img}}" width="30" height="30">
                    <a style="margin-left: 4px;" data-action="editItem">{{item.name}}</a>
                </span>
                <span>{{localize item.system.skill.label}}</span>
                <span class="item-controls">
                    {{#if item.system.isRanged}}
                        {{!-- Reload option appears if weapon isnt at max ammo --}}
                        {{#if (and (lt item.system.ammo.value item.system.ammo.max) (gt item.system.ammo.max 0))}}
                            <a data-action="reloadWeapon">
                                Reload
                                <i class="fa-solid fa-arrow-rotate-left"></i>
                            </a>
                        {{/if}}
                        {{!-- Toggle weapon burst fire --}}
                        <a data-action="toggleWeaponBurst">
                            Burst
                            {{#if item.flags.newedo.burst_fire}}<i class="fa-solid fa-circle-check"></i>{{/if}}
                            {{#unless item.flags.newedo.burst_fire}}<i class="fa-regular fa-circle"></i>{{/unless}}
                        </a>
                    {{/if}}
                    <a data-action="useItem" data-use="attack" title="Attack"><i class="fa-solid fa-sword"></i></a>
                    <a data-action="useItem" data-use="damage" title="Damage"><i class="fa-solid fa-droplet"></i></a>
                    <a data-action="useItem" data-use="equip">
                        {{#if item.system.isEquipped}}<i class="fa-solid fa-hand-rock" title="Unequip"></i>{{/if}}
                        {{#if (not item.system.isEquipped)}}<i class="fa-solid fa-hand" title="Equip"></i>{{/if}}
                    </a>
                    {{#if ../isEditMode}}<a data-action="deleteItem" title="Delete"><i class="fa-solid fa-trash"></i></a>{{/if}}
                </span>
            </li>
        {{/each}}
        {{!-- Armour lists --}}
        <li class="items-header flexrow collapsible">
            <span>Armour</span>
            <span>Soaks</span>
            <span>Controls</span>
        </li>
        {{#each itemTypes.armour as | item key |}}
            <li class="item flexrow" style="text-align: center;" data-item-uuid="{{item.uuid}}">
                <span style="display: flex; flex-direction: row; align-items: center; justify-content: flex-start;">
                    <img src="{{item.img}}" width="30" height="30">
                    <a style="margin-left: 4px;" data-action="editItem">{{item.name}}</a>
                </span>
                <span class="flexrow" style="text-align: center;">
                    {{#each item.system.soak as | soak key | }}
                        {{#if (gt soak 0)}}
                            <span>{{toTitleCase key}}: {{soak}}</span>
                        {{/if}}
                    {{/each}}
                </span>
                <span class="item-controls">
                    <a data-action="useItem" data-use="equip">
                        {{#if item.system.isEquipped}}<i class="fa-solid fa-shirt"></i>{{/if}}
                        {{#if (not item.system.isEquipped)}}<i class="fa-solid fa-suitcase"></i>{{/if}}
                    </a>
                    {{#if ../isEditMode}}<a data-action="deleteItem"><i class="fa-solid fa-trash"></i></a>{{/if}}
                </span>
            </li>
        {{/each}}
    </ol>
</div>