<header>
    {{!-- Character name field--}}
    <h1 style="border: 0; margin-bottom: 0px">
        <input style="background-color: transparent; font-size: 1em; height: 100%;" name="name" type="text" value="{{name}}" placeholder="Name" />
    </h1>

    <div class="origins">
        <div class="flexrow">
            &#x2022
            {{#if culture}}
                <a class="item" data-item-uuid="{{culture.uuid}}"><b data-action="editItem">{{culture.name}}</b></a>
            {{else}}
                {{localize 'TYPES.Item.culture'}}:
            {{/if}}
            &#x2022
            {{#if lineage}}
                <a class="item" data-item-uuid="{{lineage.uuid}}"><b data-action="editItem">{{lineage.name}}</b></a>
            {{else}}
                {{localize 'TYPES.Item.lineage'}}:
            {{/if}}
            &#x2022
            {{#if path}}
                <a class="item" data-item-uuid="{{path.uuid}}"><b data-action="editItem">{{path.name}}</b></a>
            {{else}}
                {{localize 'TYPES.Item.path'}}
            {{/if}}
        </div>
    </div>

    {{!-- Derived stats? --}}
    <div class="derived-traits">
        {{#each system.traits.derived as |trait key| }}
            <div>
                &#x2022 {{trait.abbr}}:
                <b>{{trait.total}}</b>
            </div>
        {{/each}}

        <div>
            &#x2022 {{ localize "NEWEDO.Generic.Size.long" }}:
            {{#if isPlayMode}}<b>{{system.size.value}}</b>{{/if}}
            {{#if isEditMode}}
                <input name="system.size.value" type="number" value="{{system.size.value}}" title="{{localize 'NEWEDO.Generic.Size.long'}}">
            {{/if}}
        </div>
    </div>
</header>