<header>
    <!-- Character name field-->
    <h1 style="border: 0;">
        <input style="background-color: transparent; font-size: 1em; height: 100%;" name="name" type="text" value="{{name}}" placeholder="Name" />
    </h1>

    <!-- Derived stats? -->
    <div>
        <span>&#x2022 {{localize 'NEWEDO.trait.derived.abbr.def'}}: <b>{{system.traits.derived.def.value}}</b></span>
        <span>&#x2022 {{localize 'NEWEDO.trait.derived.abbr.res'}}: <b>{{system.traits.derived.res.value}}</b></span>
        <span>&#x2022 {{localize 'NEWEDO.trait.derived.abbr.move'}}: <b>{{system.traits.derived.move.value}}</b></span>
        <span>&#x2022 {{localize 'NEWEDO.trait.derived.abbr.init'}}: <b>{{system.traits.derived.init.value}}</b></span>
        {{#if isPlayMode}}
            <span>&#x2022 {{ localize "NEWEDO.attribute.size" }}: <b>{{system.size.value}}</b></span>
        {{/if}}
        {{#if isEditMode}}
            <span>
                &#x2022 {{ localize "NEWEDO.attribute.size" }}:
                <input style="width: 3rem; height: 1rem; text-align: center; padding: 0;" name="system.size.value" type="number" value="{{system.size.value}}">
            </span>
        {{/if}}
    </div>
</header>