<header>
    <!-- Character name field-->
    <h1 style="border: 0;">
        <input style="background-color: transparent; font-size: 1em; height: 100%;" name="name" type="text" value="{{name}}" placeholder="Name" />
    </h1>

    <!-- Derived stats? -->
    <div class="list-derived">
        <span>&#x2022 <b>{{localize 'NEWEDO.trait.derived.abbr.def'}}:</b> {{system.traits.derived.def.value}}</span>
        <span>&#x2022 <b>{{localize 'NEWEDO.trait.derived.abbr.res'}}:</b> {{system.traits.derived.res.value}}</span>
        <span>&#x2022 <b>{{localize 'NEWEDO.trait.derived.abbr.move'}}:</b> {{system.traits.derived.move.value}}</span>
        <span>&#x2022 <b>{{localize 'NEWEDO.trait.derived.abbr.init'}}:</b> {{system.traits.derived.init.value}}</span>
        <span>&#x2022 <b>{{ localize "NEWEDO.attribute.size" }}:</b> {{system.attributes.size.value}}</span>
    </div>
</header>