<header>
    <!-- Character name field-->
    <h1 style="border: 0;">
        <input style="background-color: transparent; font-size: 1em; height: 100%;" name="name" type="text" value="{{name}}" placeholder="Name" />
    </h1>

    <!-- Derived stats? -->
    <div>
        {{#if isPlayMode}}
            <span>&#x2022 {{localize 'NEWEDO.trait.derived.abbr.def'}}: <b>{{system.traits.derived.def.total}}</b></span>
            <span>&#x2022 {{localize 'NEWEDO.trait.derived.abbr.res'}}: <b>{{system.traits.derived.res.total}}</b></span>
            <span>&#x2022 {{localize 'NEWEDO.trait.derived.abbr.move'}}: <b>{{system.traits.derived.move.total}}</b></span>
            <span>&#x2022 {{localize 'NEWEDO.trait.derived.abbr.init'}}: <b>{{system.traits.derived.init.total}}</b></span>
            <span>&#x2022 {{ localize "NEWEDO.attribute.size" }}: <b>{{system.size.value}}</b></span>
        {{/if}}
        {{#if isEditMode}}
            <span>
                &#x2022 {{localize 'NEWEDO.trait.derived.abbr.def'}}:
                <input style="width: 2.5rem; height: 1rem; text-align: center; padding: 0;" name="system.traits.derived.def.mod" type="number" value="{{system.traits.derived.def.mod}}">
            </span>
            <span>
                &#x2022 {{localize 'NEWEDO.trait.derived.abbr.res'}}:
                <input style="width: 2.5rem; height: 1rem; text-align: center; padding: 0;" name="system.traits.derived.res.mod" type="number" value="{{system.traits.derived.res.mod}}">
            </span>
            <span>
                &#x2022 {{localize 'NEWEDO.trait.derived.abbr.move'}}:
                <input style="width: 2.5rem; height: 1rem; text-align: center; padding: 0;" name="system.traits.derived.move.mod" type="number" value="{{system.traits.derived.move.mod}}">
            </span>
            <span>
                &#x2022 {{localize 'NEWEDO.trait.derived.abbr.init'}}:
                <input style="width: 2.5rem; height: 1rem; text-align: center; padding: 0;" name="system.traits.derived.init.mod" type="number" value="{{system.traits.derived.init.mod}}">
            </span>
            <span>
                &#x2022 {{ localize "NEWEDO.attribute.size" }}:
                <input style="width: 2.5rem; height: 1rem; text-align: center; padding: 0;" name="system.size.value" type="number" value="{{system.size.value}}">
            </span>
        {{/if}}
    </div>
</header>