<section class="panel">
    {{!-- Newedo banner rendered at the top of the screen--}}
    <img class="banner-newedo" src="systems/newedo/images/banner-newedo.svg">
    {{#if isEditMode}}
        <span class="flexrow">
            <div class="flexrow">
                image offset:
                <input name="system.imageOffset" type="range" min="0" max="100" value="{{system.imageOffset}}" />
            </div>
        </span>
    {{/if}}
    <div class="portrait" style="border: 0;" data-action="editImage">
        <img class="profile-img" src="{{document.img}}" title="{{actor.name}}" height="150px" width="150px" style="object-fit: cover; border: 0; object-position: {{system.imageOffset}}% {{system.imageOffset}}%" />
    </div>

    {{!-- Health container--}}
    {{ localize 'NEWEDO.generic.hp' }}: {{ system.wound.label }}
    <div class="bar">
        <div class="fill" style="width: {{ percent system.hp.value system.hp.max }}%;"></div>
        <div class="value flexrow">
            <input type="number" name="system.hp.value" value="{{system.hp.value}}" />
            <div>/</div>
            <input type="number" value="{{system.hp.max}}" disabled />
            <a><i class="fa-solid fa-calculator"></i></a>
        </div>
    </div>
    {{!-- Legend container --}}
    {{ localize 'NEWEDO.generic.legend' }}
    <div class="bar">
        <div class="fill blue" style="width: {{ percent system.legend.value system.legend.max }}%;"></div>
        <div class="value">
            <input type="number" name="system.legend.value" value="{{system.legend.value}}" />
            <div>/</div>
            <input type="number" name="system.legend.max" value="{{system.legend.max}}" disabled />
            <a><i class="fa-solid fa-calculator"></i></a>
        </div>
    </div>
    {{{ledger 'system.legend.max' 'legend' 'NEWEDO.ledger.legend'}}}

    {{!-- Armour values --}}
    {{ localize 'NEWEDO.generic.soak' }}
    <div class="flexrow" style="gap: 4px;">
        {{#each system.armour as | key soak |}}
            <div>
                <div class="name">{{ soak.abr }}</div>
                <input type="number" class="score" name="system.armour.{{key}}.value" value="{{soak.value}}" placeholder="0" {{disabled ../isPlayMode}} />
            </div>
        {{/each}}
    </div>
    {{!-- Character XP tracker --}}
    <div class="flexrow" style="gap: 4px;">
        <span>{{localize 'NEWEDO.generic.exp'}}:</span>
        <input type="number" value="{{system.xp.value}}" disabled />
        {{{ledger 'system.xp.value' 'xp' 'NEWEDO.ledger.exp'}}}
    </div>
    {{!-- Character money tracker --}}
    <div class="flexrow" style="gap: 4px;">
        <span>{{localize 'NEWEDO.generic.money'}}:</span>
        <input type="number" value="{{system.money.value}}" disabled />
        {{{ledger 'system.money.value' 'money' 'NEWEDO.ledger.money'}}}
    </div>
    {{!-- Fate card container --}}
    <div class="fate-card flexcol">
        <div>
            <a data-action="fateDisplay" style="position: absolute; left: 50px;">
                {{#if (eq userFlags.newedo.settings.fateDisplay '%')}}
                    <i class="fa-solid fa-toggle-on"></i>
                {{/if}}
                {{#unless (eq userFlags.newedo.settings.fateDisplay '%')}}
                    <i class="fa-solid fa-toggle-off"></i>
                {{/unless}}
            </a>
            <a data-action="rollFate"><b>{{localize 'NEWEDO.generic.fate'}}Card</b></a>
        </div>
        <ol class="fate-list flexcol">
            {{!-- Loops through the characters list of fate card options--}}
            {{#each fates as |fate key|}}
                <li class="item flexrow" data-item-uuid="{{fate.uuid}}">
                    <div>
                        {{#if (eq ../userFlags.newedo.settings.fateDisplay '%')}}
                            {{fate.system.chance}}%
                        {{/if}}
                        {{#if (eq ../userFlags.newedo.settings.fateDisplay 'range')}}
                            {{fate.system.start}} / {{fate.system.end}}
                        {{/if}}
                    </div>
                    <a class="item-edit" data-action="editItem" draggable="true">{{fate.name}}</a>
                </li>
            {{/each}}
        </ol>
    </div>
</section>