<div class="tab-content">
    {{!-- Data for loading character skills into the sheet tab --}}
    <div class="flexrow skill-lists">
        {{#each skills as | side key |}}
            <ol style="padding: 0; margin: 0;">
                {{#each side as | trait key |}}
                    <li class="items-header flexrow">
                        <span>{{trait.label}}</span>
                        <span>Dice</span>
                    </li>
                    <ol class="items-list">
                        {{#each trait.list as | skill key |}}
                            <li class="item flexrow" data-item-uuid="{{skill.uuid}}">
                                <a data-action="useItem">{{skill.name}}</a>
                                <div class="flexrow">
                                    {{#each skill.system.ranks as | value index |}}
                                        <input type="button" data-action="skillDice" data-index="{{index}}" value="{{value}}" />
                                    {{/each}}
                                </div>
                            </li>
                        {{/each}}
                    </ol>
                {{/each}}
            </ol>
        {{/each}}
    </div>
</div>