<form class="weapon-attack">
    <div class="form-group">
        <label>{{localize 'NEWEDO.Generic.Trait.long'}}:</label>
        <input type="checkbox" name="useTrait" checked="true" />
        <input type="text" name="trait" disabled value="{{trait.rank}}d10" />
    </div>
    <div class="form-group">
        <label>{{localize 'NEWEDO.Generic.Skill.long'}}:</label>
        <input type="text" name="skill" disabled value="{{formula.skill}}" />
    </div>
    <div class="form-group">
        <label>{{localize 'NEWEDO.Generic.Grit.long'}}:</label>
        <input type="number" name="skill" disabled value="{{system.grit.atk}}" />
    </div>
    {{> "newedo.roll-options" }}
</form>