<div class="tab-content">
    <div class="form-group">
        <label>{{localize 'NEWEDO.damage.kin'}}:</label>
        <input type="number" name="system.soak.kin" value="{{system.soak.kin}}">
    </div>
    <div class="form-group">
        <label>{{localize 'NEWEDO.damage.ele'}}:</label>
        <input type="number" name="system.soak.ele" value="{{system.soak.ele}}">
    </div>
    <div class="form-group">
        <label>{{localize 'NEWEDO.damage.bio'}}:</label>
        <input type="number" name="system.soak.bio" value="{{system.soak.bio}}">
    </div>
    <div class="form-group">
        <label>{{localize 'NEWEDO.damage.arc'}}:</label>
        <input type="number" name="system.soak.arc" value="{{system.soak.arc}}">
    </div>
</div>