<div class="tab-content">
    <div class="form-group">
        <label>Skill:</label>
        {{{ selector.skill }}}
    </div>

    <div class="form-group">
        <label>Legend Cost:</label>
        <input type="number" placeholder="Cost" name="system.cost" value="{{system.cost}}" />
    </div>

    <div class="form-group">
        <label>Kami:</label>
    </div>

    <div class="form-group">
        <label>Target Number:</label>
        <input type="number" placeholder="TN" name="system.tn" value="{{system.tn}}" />
    </div>

    <div class="form-group">
        <label>Action cost:</label>
        <select name="system.action">
            <option value="Full">Full</option>
            <option value="Quick">Quick</option>
        </select>
    </div>

    <div class="form-group">
        <label>Duration:</label>
        <div class="group-details">
            <input type="checkbox" name="system.rules.rollRange" {{checked system.rules.rollDuration.active}}>
            <input type="number" placeholder="Duration" name="system.duration" value="{{system.duration}}" />
            <select>
                <option>Round</option>
                <option>Second</option>
                <option>Minute</option>
                <option>Hour</option>
            </select>
        </div>
    </div>

    {{!--
    <div class="form-group">
        <div>Target type:</div>
        <select name="system.target.type">
            <option selected disabled hidden value="{{system.target.type}}">{{system.target.type}}</option>
            <optgroup label="Individuals">
                <option value="Self">Self</option>
                <option value="Ally">Ally</option>
                <option value="Enemy">Enemy</option>
                <option value="All">All</option>
            </optgroup>
            <optgroup label="Areas">
                <option value="Radius">Radius</option>
                <option value="Blast">Blast</option>
                <option value="Cone">Cone</option>
                <option value="Line">Line</option>
            </optgroup>
        </select>
    </div>
    <div class="form-group">
        <div>Target Count:</div>
        <input type="number" name="system.target.count" value="{{system.target.count}}" />
    </div>
    <div class="form-group">
        <div>Area Size:</div>
        <input type="number" placeholder="Size" name="system.target.size" value="{{system.target.size}}" />
    </div>
    --}}
</div>