<div class="tab-contet">
    <div class="form-group">
        <div>Trait:</div>
        {{{ selectTrait system.trait 'system.trait' }}}
    </div>
    <div class="form-group">
        <div>Ranks:</div>
        <div class="flexrow" style="gap: 4px; align-items:flex-start;">
            {{#each system.ranks as | rank index |}}
                <span style="background-color: var(--color-cool-4); border-radius: 2px; padding: 4px; text-align: center;" data-action="changeSkillRank" data-index="{{index}}">
                    {{rank}}
                </span>
            {{/each}}
        </div>
    </div>
    <div class="form-group">
        <div>Use Trait Dice:</div>
        <input type="checkbox" {{checked system.useTraitRank}} name="system.useTraitRank" />
    </div>
    <div class="form-group">
        <div>Use as Weapon Skill:</div>
        <input type="checkbox" {{checked system.isWeaponSkill}} name="system.isWeaponSkill" />
    </div>
    <div>
        Features:
    </div>
</div>