<div class="tab-contet">
    <div class="form-group">
        <div>Trait:</div>
        {{{ selectTrait system.trait 'system.trait' }}}
    </div>
    <div class="form-group">
        <div>Ranks:</div>
        <div>
            {{#each system.ranks as | rank index |}}
                <input type="button" data-index="{{index}}" class="skill-dice" value="{{rank}}" />
            {{/each}}
        </div>
    </div>
    <div class="form-group">
        <div>Use Trait Dice:</div>
        <input type="checkbox" {{checked system.rollTrait}} name="system.rollTrait" />
    </div>
    <div class="form-group">
        <div>Use as Weapon Skill:</div>
        <input type="checkbox" {{checked system.weaponSkill}} name="system.weaponSkill" />
    </div>
    <div>
        Features:
    </div>
</div>