<div class="tab-content">
    <div class="form-group">
        <label>Skill:</label>
        {{{ selector.skill }}}
    </div>

    <div class="form-group">
        <label>Damage:</label>
        <div class="flexrow">
            <input type="text" name="system.damage.value" value="{{system.damage.value}}" />
            {{{ selectDamage system.damage.type 'system.damage.type' }}}
        </div>
    </div>

    <div class="form-group">
        <label>Quality:</label>
        <input type="number" name="system.quality.value" value="{{system.quality.value}}">
    </div>

    <div class="form-group">
        <label>Grit:</label>
        <input type="number" name="system.grit.value" value="{{system.grit.value}}">
    </div>

    <div class="form-group">
        <label>Grit attack / damage bonus:</label>
        <div class="flexrow">
            <input type="number" name="system.grit.atk" value="{{system.grit.atk}}">
            /
            <input type="number" name="system.grit.dmg" value="{{system.grit.dmg}}">
        </div>
    </div>

    <div class="form-group">
        <label>Ranged:</label>
        <input type="checkbox" name="system.ranged" {{checked system.ranged}}>
    </div>

    <div class="form-group">
        {{#if system.ranged}}<label>Close / Long range:</label>{{/if}}
        {{#if (not system.ranged)}}<label>Reach / thrown range:</label>{{/if}}
        <div class="flexrow">
            <input type="number" name="system.range.short" value="{{system.range.short}}">
            /
            <input type="number" name="system.range.long" value="{{system.range.long}}">
        </div>
    </div>

    {{#if system.ranged}}
        <div class="form-group">
            <label>Range hit mods:</label>
            <div class="flexrow">
                <input type="number" name="system.range.modShort" value="{{system.range.modShort}}">
                /
                <input type="number" name="system.range.modLong" value="{{system.range.modLong}}">
            </div>
        </div>

        <div class="form-group">
            <label>Magazine</label>
            <span class="flexrow">
                <input type="number" name="system.magazine.value" value="{{system.magazine.value}}" />
                /
                <input type="number" {{disabled isPlayMode}} name="system.magazine.max" value="{{system.magazine.max}}" />
            </span>
        </div>

        <div class="form-group">
            <label for="system.burst.ammo">Burst Ammo</label>
            <input type="number" name="system.burst.ammo" value="{{system.burst.ammo}}" />
        </div>

        <div class="form-group">
            <label for="system.burst.roll">Burst Roll</label>
            <input type="number" name="system.burst.roll" value="{{system.burst.roll}}" />
        </div>
    {{/if}}

</div>