<div class="tab-content">
    <div class="form-group">
        <label>Skill:</label>
        {{{ selector.skill }}}
    </div>

    <div><b>Damage Parts:</b></div>
    {{#each damageParts as | dmg key |}}
        <div class="flexrow" style="gap: 10px; margin: 3px 0" data-part-index="{{key}}">
            {{!-- damage formula --}}
            {{formInput dmg.formula.field value=dmg.formula.value name=dmg.formula.path}}
            {{!-- damage type --}}
            <div class="flexrow" style="gap: 5px">
                {{formInput dmg.type.field value=dmg.type.value name=dmg.type.path}}
                {{#unless (eq key 0)}}
                    <a data-action="deleteDamagePart" style="flex: 0;">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                {{/unless}}
            </div>
        </div>
    {{/each}}
    <div>
        <a data-action="createDamagePart" style="float: right;">
            Add new damage part <i class="fa-solid fa-plus fa-l"></i>
        </a>
    </div>

    {{toFieldGroup system.schema 'quality.value' value=system.quality.value label='Quality'}}
    {{toFieldGroup system.schema 'grit.value' value=system.grit.value label='Grit'}}

    <div class="form-group">
        <label>Grit attack / damage bonus:</label>
        <div class="flexrow">
            <input type="number" name="system.grit.atk" value="{{system.grit.atk}}">
            /
            <input type="number" name="system.grit.dmg" value="{{system.grit.dmg}}">
        </div>
    </div>


    {{toFieldGroup system.schema 'ranged' value=system.ranged label='Ranged'}}

    <div class="form-group">
        {{#if system.ranged}}<label>Close / Long range:</label>{{/if}}
        {{#if (not system.ranged)}}<label>Reach / thrown range:</label>{{/if}}
        <div class="flexrow">
            <input type="number" name="system.range.short" value="{{system.range.short}}">
            /
            <input type="number" name="system.range.long" value="{{system.range.long}}">
        </div>
    </div>

    {{#if system.ranged}}
        <div class="form-group">
            <label>Range hit mods:</label>
            <div class="flexrow">
                <input type="number" name="system.range.modShort" value="{{system.range.modShort}}">
                /
                <input type="number" name="system.range.modLong" value="{{system.range.modLong}}">
            </div>
        </div>

        <div class="form-group">
            <label>Magazine</label>
            <span class="flexrow">
                <input type="number" name="system.ammo.value" value="{{system.ammo.value}}" />
                /
                <input type="number" {{disabled isPlayMode}} name="system.ammo.max" value="{{system.ammo.max}}" />
            </span>
        </div>

        {{toFieldGroup system.schema 'burst.active' value=system.burst.active label='Enable Burst'}}

        {{#if system.burst.active}}
            {{toFieldGroup system.schema 'burst.ammo' value=system.burst.ammo label='Burst Ammo'}}
            {{toFieldGroup system.schema 'burst.roll' value=system.burst.roll label='Burst Roll'}}
        {{/if}}
    {{/if}}

</div>