<div class="tab-content">
    <!-- Damage Formula -->
    <div>
        <div>Dice Formula</div>
        <div style="display: grid; grid-template-columns: 1fr 2fr 1fr; align-items: center; gap: 3px 3px; padding: 0px;">
            <select name="system.skill" id="weapon-type">
                <option selected disabled hidden>{{system.skill}}</option>
                <optgroup label="Melee">
                    <option value="Light Melee">Light Melee</option>
                    <option value="Heavy Melee">Heavy Melee</option>
                    <option value="Thrown"> Thrown</option>
                    <option value="Unarmed">Unarmed</option>
                </optgroup>
                <optgroup label="Ranged">
                    <option value="Archery">Archery</option>
                    <option value="Small Arms">Small Arms</option>
                    <option value="Gunnery">Gunnery</option>
                </optgroup>
            </select>
            <input type="text" name="system.damage.value" value="{{system.damage.value}}" />
            <select name="system.damage.type" id="damage-type">
                <option selected disabled hidden value="{{system.damage.type}}">{{system.damage.label}}</option>
                <option value="kin">Kinetic</option>
                <option value="ele">Elemental</option>
                <option value="bio">Biological</option>
                <option value="arc">Arcane</option>
            </select>
        </div>
    </div>

    <!-- Ranged specific details, ranged toggles on when a ranged weapon type is selected for the sheet, and will be locked on well it stays that way-->
    {{#if system.ranged}}
        <div style="display: grid; grid-template-columns: repeat(3, 1fr);">
            <div>
                <div>Magazine</div>
                <div style="display: grid; grid-template-columns: 40px 30px 40px; text-align: center; align-items: center;">
                    <input type="number" name="system.magazine.value" value="{{system.magazine.value}}" />
                    <div>/</div>
                    <input type="number" name="system.magazine.max" value="{{system.magazine.max}}" />
                </div>
            </div>

            <!-- Burstfire values -->
            <div style="text-align: center; align-items: center;">
                <label for="system.burst.ammo">Burst Ammo</label>
                <input type="number" name="system.burst.ammo" value="{{system.burst.ammo}}" />
            </div>
            <div style="text-align: center; align-items: center;">
                <label for="system.burst.roll">Burst Roll</label>
                <input type="number" name="system.burst.roll" value="{{system.burst.roll}}" />
            </div>
        </div>
    {{/if}}

</div>