<div class="tab-content">
    <div>Dice Formula</div>
    <div style="display: grid; grid-template-columns: 1fr 2fr 1fr; align-items: center; gap: 3px 3px; padding: 0px;">
        {{{selectSkills}}}

        <input type="text" name="system.damage.value" value="{{system.damage.value}}" />
        {{{ selectDamage system.damage.type 'system.damage.type' }}}
    </div>

    {{#if system.ranged}}
        <div class="flexrow">
            <span>
                <span>Magazine</span>
                <span>
                    <span><input type="number" name="system.magazine.value" value="{{system.magazine.value}}" /></span>
                    /
                    <span><input type="number" name="system.magazine.max" value="{{system.magazine.max}}" /></span>
                </span>
            </span>

            <div style="text-align: center; align-items: center;">
                <label for="system.burst.ammo">Burst Ammo</label>
                <input type="number" name="system.burst.ammo" value="{{system.burst.ammo}}" />
            </div>

            <div style="text-align: center; align-items: center;">
                <label for="system.burst.roll">Burst Roll</label>
                <input type="number" name="system.burst.roll" value="{{system.burst.roll}}" />
            </div>
        </div>
    {{/if}}

</div>