<div class="tab-content">

    <!-- Core Stats -->
    <div class="flexrow" style="text-align: center; align-items: center; gap: 2px">
        {{#each system.traits.core as | trait key |}}

            <div style="align-items: center; min-width: 30px;" data-trait="{{key}}">
                <label class="resource-label flexlarge align-left" data-action="roll" data-roll="{{trait.rank}}d10x10" data-label="{{trait.label}}">{{trait.abr}}</label>
                {{#if ../isPlayMode}}
                    <input name="system.traits.core.{{key}}.value" value="{{trait.value}}" disabled type="number" />
                {{/if}}
                {{#if ../isEditMode}}
                    <input name="system.traits.core.{{key}}.value" value="{{trait.value}}" type="number" />
                {{/if}}
                <div class="trait-rank" data-action="roll" data-roll="{{trait.rank}}d10x10" data-label="{{trait.label}}">Rank {{trait.rank}}</div>
            </div>
        {{/each}}
    </div>
</div>