<form class="{{cssClass}} {{item.type}}" system-theme="{{theme}}">

    {{> 'newedo.item-header'}}

    <section class="sheet-body" style="overflow: auto; padding: 6px; height: 1fr;">
        <div class="tab description" data-group="primary" data-tab="description">
            
            <div class="description-tab">
                <div class="summary">
                    <div class="detail">
                        <div>Price:</div>
                        <div><b>{{system.price.base}}</b> ¥ / <b>{{system.price.tn}}</b> tn</div>
                    </div>
                    <div class="detail">
                        <div>Installed:</div>
                        <div>{{system.installed}}</div>
                    </div>
                    <div class="detail">
                        <div>Rank:</div>
                        <div>{{system.rank}}</div>
                    </div>
                    <div class="detail">
                        <div>Noise:</div> 
                        <div>{{system.noise.pow}}</div>
                    </div>
                    <div class="detail">
                        <div>Biofeedback:</div>
                        <div>{{system.biofeedback}}</div>
                    </div>
                    <div class="detail">
                        <div>Locked:</div> 
                        <div>{{system.locked}}</div>
                    </div>         
                </div>
                <div class="description-editor">
                    <!-- description on the right -->
                    {{editor itemDescriptionHTML target="system.description" button=true editable=editable engine="prosemirror" collaborate=false}}
                </div>
            </div>

        </div>
        
        <!-- Settings Tab -->
        <div class="tab settings" data-group="primary" data-tab="settings">
            <div class="settings-tab">
                <div style="display: inline-flex;">
                    <label>Range:</label>
                    <input type="number" name="system.range.max" value="{{system.range.max}}" placeholder="Max"/>
                </div>
                <div style="display: inline-flex;">
                    <label>Biofeedback:</label>
                    <input type="number" name="system.biofeedback" value="{{system.biofeedback}}" placeholder="Chance"/>
                </div>
                <div style="display: inline-flex;">
                    <label>Noise:</label>
                    <input type="number" name="system.noise.pow" value="{{system.noise.pow}}" placeholder="Pow"/>
                    <input type="number" name="system.noise.ref" value="{{system.noise.ref}}" placeholder="Ref"/>
                    <input type="number" name="system.noise.hrt" value="{{system.noise.hrt}}" placeholder="Hrt"/>
                    <input type="number" name="system.noise.sav" value="{{system.noise.sav}}" placeholder="Sav"/>
                    <input type="number" name="system.noise.per" value="{{system.noise.per}}" placeholder="Per"/>
                    <input type="number" name="system.noise.pre" value="{{system.noise.pre}}" placeholder="Pre"/>
                </div>
                <div>
                    <label>Locked:</label>
                    <input type="checkbox" value="{{system.locked}}"/>
                </div>
            </div>
        </div>

        {{> 'newedo.item-rules'}}
    </section>
</form>