<form class="{{cssClass}} {{item.type}} newedo" system-theme="{{theme}}">
    {{> 'newedo.item-header'}}

    <section class="sheet-body" style="display: flex; padding: 6px; flex: 1; flex-direction: row;">
        <div class="tab description" data-group="primary" data-tab="description" style="flex-direction: row;">
            <div style="flex-shrink: 0; flex-direction: column;">
                <div>
                    Ranks: 
                    {{#each system.ranks as | rank |}}
                        {{rank}}
                    {{/each}}
                </div>
                <div>
                    Trait: {{system.trait}}
                </div>
                <div>
                    Roll with trait: {{system.rollTrait}}
                </div>
            </div>
            <div class="description-editor">
                {{editor itemDescriptionHTML target="system.description" button=true editable=editable engine="prosemirror" collaborate=false}}
            </div>
        </div>

        <div class="tab settings" data-group="primary" data-tab="settings">
            <div>
                Trait: 
                <select name="system.trait" id="skill-type">
                    <option selected disabled hidden>{{ system.trait }}</option>
                    <option value="pow">{{ localize 'NEWEDO.trait.core.pow' }}</option>
                    <option value="ref">{{ localize 'NEWEDO.trait.core.ref' }}</option>
                    <option value="hrt">{{ localize 'NEWEDO.trait.core.hrt' }}</option>
                    <option value="sav">{{ localize 'NEWEDO.trait.core.sav' }}</option>
                    <option value="per">{{ localize 'NEWEDO.trait.core.per' }}</option>
                    <option value="pre">{{ localize 'NEWEDO.trait.core.pre' }}</option>
                </select>
            </div>
            <div>
                Roll trait dice: 
                <input type="checkbox" value="true" id="{{item.name}}" name="system.rollTrait"/>
            </div>
            <div>
                Ranks:
                {{#each system.ranks as | rank index |}}
                    <input type="button" id="{{item.id}}" index="{{index}}" class="skill-dice" value="{{rank}}"/>
                {{/each}}
            </div>
            <div>
                Features:
            </div>
        </div>
    </section>
</form>